h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10px
}

p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10px
}


.container {
    display: flex;
    margin-left: -15px;
    position: absolute;
    margin-top: -40px;
    z-index: -1;
}

.sidebar {

    width: 275px;
    background-image: url('greybar.png');
    background-size: cover;
    background-position: center top;
    position: relative;
    margin-top: -10px;
    margin: -10px;
    

}

.ianphoto {
    position: absolute;
    margin: 50px;
    margin-top: 50px;

}

.exp {
    position: relative;
    z-index: 2;
    padding: 70px;
    margin-right: 200px;
}
.exp h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 72px;
    line-height: 60px;
    letter-spacing: 3px;
}
.exp h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 10px;
    letter-spacing: 2px;
}
.exp h3 {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 1px;
}
.exp p {
    font-size: 15px;
    text-align: justify;

}
.exp ul {
    font-family: 'Didact Gothic', sans-serif; 
    padding-top: -50px;
    padding-left: 10px;
    
}
.exp li {
    padding-left: 20px;
    text-indent: -15px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 15px;
}
.sidebar p {
    position: absolute;
    top: 300px;
    left: 50px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 15px;
}
.sidebar h1 {
    position: absolute;
    top: 800px;
    left: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: rgb(255, 193, 7)
}

.navbar.navbar-expand-lg {
    margin-left: 560px;
    height: 40px;
    background-color: rgb(234, 232, 232);
    

}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.center-image {
    display: block;
    margin: auto;
    padding-left: 20px;
    max-width: 100%;
    max-height: 100%;
}



/* MOBILE */

@media (max-width: 375px) {
    .container {
        flex-direction: column; /* Stack items vertically */
    }

    .sidebar {
        width: 100%; /* Full width for smaller screens */
        padding-top: 50px; /* Adjust padding for smaller screens */
    }

    .ianphoto {
        position: static; /* Reset position for smaller screens */
        margin: 0; /* Reset margin */
    }

    .exp {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .exp h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .exp p {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}